@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-transparent: #FFFFFF00;
}

:fullscreen {
	color: black;
	background: url("/images/background.webp");
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	user-select: none;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
	color: black;
	background: url("/images/background.webp");
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	user-select: none;
	-webkit-tap-highlight-color: var(--color-transparent);
}

@keyframes float-up {
  from {
    transform: translateY(50%);
    opacity: 1;
  }
  to {
    transform: translateY(-0%);
    opacity: 1;
  }
}

@keyframes float-down {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(-0%);
    opacity: 1;
  }
}

@keyframes float-over {
  from {
    transform: translateY(100%);
    opacity: 0.3;
  }
  to {
    transform: translateY(-200vh);
    opacity: 0.9;
  }
}